Repository cryptobuks/white-label-event-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser json

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.json": [
    "prettier --write --parser json",
    "git add"
  ]
}

remove prepush
  package.json
Due: prettier --write --parser json

#28 review remarks and cleanup
  App.js
  screens/login/LoginContainer.js
  screens/personalSchedule/PersonalScheduleContainer.js
  screens/screenConfig.js
  state/UserContainer.js
  types/authentication.js
  utils/authenticationService.js
Due: prettier --write, eslint --fix

add flow types
  components/closePersonalScheduleButton.js
  components/invisibleNavButtons.js
  components/navigationItem.js
  components/personalScheduleButton.js
  components/schedulePagination.js
  package-lock.json
  screens/home/HomeContainer.js
  screens/home/HomeScreen.js
  screens/login/LoginContainer.js
  screens/personalSchedule/PersonalScheduleContainer.js
  screens/personalSchedule/PersonalScheduleScreen.js
  types/eventdata.js
  types/navigation.js
  types/screenprops.js
  types/trackdata.js
Due: prettier --write, eslint --fix, prettier --write --parser json

add flow comments
  components/closePersonalScheduleButton.js
  components/invisibleNavButtons.js
  components/navigationItem.js
  components/personalScheduleButton.js
  components/schedulePagination.js
  components/title.js
  screens/home/HomeContainer.js
  screens/personalSchedule/PersonalScheduleContainer.js
  screens/personalSchedule/PersonalScheduleScreen.js
Due: prettier --write, eslint --fix

#28 cleanup
  screens/login/LoginContainer.js
Due: prettier --write, eslint --fix

#63 cleanup flow
  .flowconfig
  App.js
  components/label.js
  components/loading.js
  components/scheduleItem/scheduleItem.js
  components/scheduleItem/scheduleItemDetail.js
  screens/login/LoginContainer.js
  types/authentication.js
  types/eventdata.js
  types/navigation.js
  utils/authenticationService.js
Due: prettier --write, eslint --fix

63 cleanup
  .flowconfig
Due: none

Typo fix
  utils/authenticationService.js
Due: prettier --write, eslint --fix

Fix typo's for real this time.
  utils/authenticationService.js
Due: prettier --write, eslint --fix

clean-up
  components/closePersonalScheduleButton.js
  components/invisibleNavButtons.js
  components/label.js
  components/loading.js
  components/navigationItem.js
  components/personalScheduleButton.js
  components/scheduleItem/scheduleItem.js
  components/scheduleItem/scheduleItemDetail.js
  components/scheduleItem/scheduleItemHeader.js
  components/title.js
  screens/home/HomeContainer.js
  screens/home/HomeScreen.js
  screens/login/LoginScreen.js
  screens/personalSchedule/PersonalScheduleContainer.js
Due: prettier --write, eslint --fix

WIP snapshot test
  assets/mockData.json
  components/CloseButton.js
  components/__tests__/ScheduleItem.test.js
  components/index.js
  components/scheduleItem/scheduleItem.js
  components/scheduleItem/scheduleItemDetail.js
  components/scheduleItem/scheduleItemHeader.js
  components/schedulePagination.js
  package.json
  screens/personalSchedule/PersonalScheduleScreen.js
  storybook/stories/index.js
Due: prettier --write, eslint --fix, prettier --write --parser json

upgrade expo to 25.0.0 , react-native to 0.52.0 , react-navigation to 11.0.0-beta27 and jest-expo to 25.0.0
  app.json
  package-lock.json
  package.json
  screens/login/LoginScreen.js
Due: prettier --write, eslint --fix, prettier --write --parser json

uncomment line
  App.js
Due: prettier --write, eslint --fix

add flow-typed lib for stacknavigatorconfig type from react-navigtion lib
  .flowconfig
  App.js
  flow-typed/npm/react-navigation_v1.x.x.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

rm flow-typed from flowconfig
  .flowconfig
Due: none

add snapshot tests for components
  components/__tests__/CloseButton.test.js
  components/__tests__/InvisibleNavButtons.test.js
  components/__tests__/Label.test.js
  components/__tests__/Loading.test.js
  components/__tests__/NavigationItem.test.js
  components/__tests__/PersonalScheduleButton.test.js
  components/__tests__/ScheduleItemButton.test.js
  components/__tests__/ScheduleItemDetail.test.js
  components/__tests__/ScheduleItemHeader.test.js
  components/__tests__/SchedulePagination.test.1.js
  components/__tests__/SchedulePagination.test.js
  components/__tests__/__snapshots__/CloseButton.test.js.snap
  components/__tests__/__snapshots__/InvisibleNavButtons.test.js.snap
  components/__tests__/__snapshots__/Label.test.js.snap
  components/__tests__/__snapshots__/Loading.test.js.snap
  components/__tests__/__snapshots__/NavigationItem.test.js.snap
  components/__tests__/__snapshots__/PersonalScheduleButton.test.js.snap
  components/__tests__/__snapshots__/ScheduleItem.test.js.snap
  components/__tests__/__snapshots__/ScheduleItemButton.test.js.snap
  components/__tests__/__snapshots__/ScheduleItemDetail.test.js.snap
  components/__tests__/__snapshots__/ScheduleItemHeader.test.js.snap
  components/__tests__/__snapshots__/SchedulePagination.test.1.js.snap
  components/__tests__/__snapshots__/SchedulePagination.test.js.snap
  package-lock.json
Due: prettier --write, eslint --fix, prettier --write --parser json

add snapshot tests for components
  components/__tests__/Title.test.js
  components/__tests__/__snapshots__/Title.test.js.snap
Due: prettier --write, eslint --fix

add snapshot tests for all components and containers
  components/__tests__/CloseButton.test.js
  components/__tests__/InvisibleNavButtons.test.js
  components/__tests__/Label.test.js
  components/__tests__/Loading.test.js
  components/__tests__/NavigationItem.test.js
  components/__tests__/PersonalScheduleButton.test.js
  components/__tests__/ScheduleItem.test.js
  components/__tests__/ScheduleItemButton.test.js
  components/__tests__/ScheduleItemDetail.test.js
  components/__tests__/ScheduleItemHeader.test.js
  components/__tests__/SchedulePagination.test.js
  components/__tests__/Title.test.js
  components/__tests__/__snapshots__/Label.test.js.snap
  components/index.js
  screens/__tests__/HomeContainer.test.js
  screens/__tests__/LoginContainer.test.js
  screens/__tests__/PersonalScheduleContainer.test.js
  screens/__tests__/__snapshots__/HomeContainer.test.js.snap
  screens/__tests__/__snapshots__/LoginContainer.test.js.snap
  screens/__tests__/__snapshots__/PersonalScheduleContainer.test.js.snap
  screens/home/HomeContainer.js
  screens/personalSchedule/PersonalScheduleContainer.js
  types/navigation.js
Due: prettier --write, eslint --fix

Update .travis.yml
  .travis.yml
Due: none

fix flow issues
  components/__tests__/__snapshots__/InvisibleNavButtons.test.js.snap
  components/__tests__/__snapshots__/SchedulePagination.test.js.snap
  components/invisibleNavButtons.js
  components/label.js
  screens/__tests__/__snapshots__/HomeContainer.test.js.snap
  screens/home/HomeContainer.js
  screens/home/HomeScreen.js
  screens/personalSchedule/PersonalScheduleContainer.js
  types/eventdata.js
  types/navigation.js
  types/screenprops.js
Due: prettier --write, eslint --fix

update app.json
  app.json
Due: prettier --write --parser json

add helper function unit test
  app.json
  assets/icon.png
  assets/sortedEvents.js
  utils/__tests__/sort.test.js
Due: prettier --write, eslint --fix, prettier --write --parser json

readd tests to travis
  .travis.yml
Due: none

add styling for login buttons
  components/__tests__/PersonalScheduleButton.test.js
  config/index.js
  screens/__tests__/__snapshots__/LoginContainer.test.js.snap
  screens/login/LoginScreen.js
Due: prettier --write, eslint --fix

update filenames
  components/InvisibleNavButtons.js
  components/Label.js
  components/Loading.js
  components/NavigationItem.js
  components/PersonalScheduleButton.js
  components/ScheduleItem/ScheduleItem.js
  components/ScheduleItem/ScheduleItemButton.js
  components/ScheduleItem/ScheduleItemDetail.js
  components/ScheduleItem/ScheduleItemHeader.js
  components/SchedulePagination.js
  components/Title.js
Due: prettier --write, eslint --fix

remove braces around strings
  screens/login/LoginScreen.js
Due: prettier --write, eslint --fix

inline event data for unit test and check if events are mutated
  components/__tests__/ScheduleItem.test.js
  components/__tests__/__snapshots__/ScheduleItem.test.js.snap
  utils/__tests__/sort.test.js
Due: prettier --write, eslint --fix

update snapshots
  components/__tests__/ScheduleItemDetail.test.js
  components/__tests__/__snapshots__/ScheduleItemDetail.test.js.snap
Due: prettier --write, eslint --fix

fix cases
  components/scheduleItem/scheduleItem.js
  components/scheduleItem/scheduleItemButton.js
  components/scheduleItem/scheduleItemDetail.js
  components/scheduleItem/scheduleItemHeader.js
Due: prettier --write, eslint --fix

update firebase to 4.11.0 and react-navigation to ^1.5.8
  package-lock.json
  package.json
Due: prettier --write --parser json

add format mock to fix travis timezone problem
  __mocks__/date-fns/format.js
  components/__tests__/__snapshots__/ScheduleItem.test.js.snap
  components/__tests__/__snapshots__/ScheduleItemDetail.test.js.snap
  screens/__tests__/__snapshots__/HomeContainer.test.js.snap
  screens/__tests__/__snapshots__/PersonalScheduleContainer.test.js.snap
Due: prettier --write, eslint --fix

remove new Date from test
  components/__tests__/ScheduleItem.test.js
Due: prettier --write, eslint --fix

update snapshots
  components/__tests__/ScheduleItemDetail.test.js
  components/__tests__/__snapshots__/InvisibleNavButtons.test.js.snap
  components/__tests__/__snapshots__/SchedulePagination.test.js.snap
  components/invisibleNavButtons.js
  screens/__tests__/__snapshots__/HomeContainer.test.js.snap
Due: prettier --write, eslint --fix

fix cases again
  components/InvisibleNavButtons.js
  components/NavigationItem.js
  components/SchedulePagination.js
  components/__tests__/__snapshots__/NavigationItem.test.js.snap
  components/__tests__/__snapshots__/SchedulePagination.test.js.snap
  components/invisibleNavButtons.js
  components/navigationItem.js
  components/schedulePagination.js
  screens/__tests__/__snapshots__/HomeContainer.test.js.snap
  types/navigation.js
  types/screenprops.js
Due: prettier --write, eslint --fix

fixes
  components/InvisibleNavButtons.js
  components/NavigationItem.js
  components/__tests__/__snapshots__/InvisibleNavButtons.test.js.snap
  components/__tests__/__snapshots__/NavigationItem.test.js.snap
  components/__tests__/__snapshots__/SchedulePagination.test.js.snap
  screens/__tests__/__snapshots__/HomeContainer.test.js.snap
Due: prettier --write, eslint --fix

update eslint to 4.19.0
  package-lock.json
  package.json
Due: prettier --write --parser json

update reacr-native-scripts to 1.11.1
  app.json
  package-lock.json
  package.json
Due: prettier --write --parser json

update eslint-plugin-jsx-a11y to 6.0.3
  package-lock.json
  package.json
Due: prettier --write --parser json

update all-contributers-cli to 4.11.1
  package-lock.json
  package.json
Due: prettier --write --parser json

update react-test-renderer to 16.2.0
  package-lock.json
  package.json
Due: prettier --write --parser json
