Repository cryptobuks/white-label-event-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --parser json

Update lockfile
  package-lock.json
Due: prettier --write --parser json

Fix formatting tasks
  package.json
Due: prettier --write --parser json

Use 100 as line break limit
  .prettierrc.json
Due: prettier --write --parser json

Format files with prettier
  .eslintrc
  App.js
  assets/sessions.json
  components/label.js
  components/loading.js
  components/scheduleButton.js
  components/scheduleItem.js
  screens/home/HomeContainer.js
  screens/home/HomeScreen.js
  screens/login/LoginScreen.js
  utils/authenticationService.js
Due: eslint --fix, prettier --write --parser json

Run prettier before eslint
  .lintstagedrc
Due: none

Add update snapshot task
  package.json
Due: prettier --write --parser json

Add types & update some code
  App.js
  assets/events.json
  components/label.js
  components/loading.js
  components/scheduleButton.js
  components/scheduleDetail.js
  components/scheduleHeader.js
  components/scheduleItem.js
  components/title.js
  config/keys.js
  screens/home/HomeContainer.js
  screens/home/HomeScreen.js
  screens/login/LoginContainer.js
  screens/login/LoginScreen.js
  types/authentication.js
  types/eventdata.js
  types/firebase.js
  types/primitives.js
  types/stylesheet.js
  utils/authenticationService.js
  utils/firebaseService.js
Due: eslint --fix, prettier --write --parser json

Move container logic + add safe returns
  App.js
  screens/login/LoginContainer.js
Due: eslint --fix

- Push all that I had. Currently it's not working.
  package-lock.json
  package.json
  utils/auth/providers.js
  utils/authenticationService.js
Due: eslint --fix, prettier --write --parser json

add personalschedule modal screen
  App.js
  assets/sessions.json
  components/personalScheduleButton.js
  config/colors.js
  config/gridSizes.js
  config/screenIds.js
  screens/PersonalScheduleModal.js
  screens/home/HomeContainer.js
  screens/home/HomeScreen.js
  screens/index.js
Due: eslint --fix, prettier --write --parser json

make schedule items render chronologically
  App.js
  package-lock.json
  screens/home/HomeContainer.js
Due: eslint --fix, prettier --write --parser json

uncomment logincontainer
  App.js
Due: eslint --fix

add styling for personalSchedule modal
  App.js
  assets/close.png
  components/closePersonalScheduleButton.js
  components/personalScheduleButton.js
  config/assets.js
  config/colors.js
  screens/PersonalScheduleModal.js
  screens/home/HomeContainer.js
  screens/index.js
  screens/personalSchedule/PersonalScheduleContainer.js
  screens/personalSchedule/PersonalScheduleScreen.js
Due: eslint --fix

fix requested PR changes
  App.js
  components/schedulePagination.js
  screens/home/HomeContainer.js
  utils/sort.js
Due: eslint --fix

Update sorting function to sort in two orders.
  utils/sort.js
Due: eslint --fix

Update named import sortByDate
  screens/home/HomeContainer.js
Due: eslint --fix

disable navigation back swipe gesture
  App.js
  utils/sort.js
Due: eslint --fix

add background for schedule header
  App.js
  components/invisibleNavButtons.js
  components/schedulePagination.js
  config/index.js
  screens/home/HomeScreen.js
Due: eslint --fix

uncomment logincontainer...
  App.js
Due: eslint --fix

clean up
  components/invisibleNavButtons.js
  components/loading.js
  components/personalScheduleButton.js
  components/title.js
  config/index.js
  screens/personalSchedule/PersonalScheduleScreen.js
Due: eslint --fix

add disabled styling for personalSchedule button
  components/personalScheduleButton.js
Due: eslint --fix

clean up components folder and give components better names
  components/index.js
  components/scheduleItem/scheduleItem.js
  components/scheduleItem/scheduleItemButton.js
  components/scheduleItem/scheduleItemDetail.js
  components/scheduleItem/scheduleItemHeader.js
  screens/home/HomeScreen.js
  screens/personalSchedule/PersonalScheduleScreen.js
Due: eslint --fix

remove this binds on onPress handlers
  App.js
  components/closePersonalScheduleButton.js
  components/personalScheduleButton.js
  screens/home/HomeContainer.js
  screens/personalSchedule/PersonalScheduleContainer.js
  screens/personalSchedule/PersonalScheduleScreen.js
Due: eslint --fix

Update docs
  README.md
Due: none

add scheduleItems to storybook
  App.js
  components/scheduleItem/scheduleItem.js
  components/scheduleItem/scheduleItemDetail.js
  package-lock.json
  package.json
  storybook/addons.js
  storybook/index.js
  storybook/stories/Button/index.android.js
  storybook/stories/Button/index.ios.js
  storybook/stories/CenterView/index.js
  storybook/stories/CenterView/style.js
  storybook/stories/ScheduleItem/index.js
  storybook/stories/ScheduleNavigation/index.js
  storybook/stories/Welcome/index.js
  storybook/stories/index.js
  storybook_index.js
  yarn.lock
Due: eslint --fix, prettier --write --parser json

add component stories
  components/schedulePagination.js
  package-lock.json
  package.json
  storybook/stories/Button/index.android.js
  storybook/stories/Button/index.ios.js
  storybook/stories/CenterView/index.js
  storybook/stories/Darkview/index.js
  storybook/stories/PersonalSchedule/index.js
  storybook/stories/ScheduleItem/index.js
  storybook/stories/ScheduleNavigation/index.js
  storybook/stories/SmallView/index.js
  storybook/stories/Welcome/index.js
  storybook/stories/index.js
Due: eslint --fix, prettier --write --parser json

open storybook when long press on middle nav item
  App.js
  components/schedulePagination.js
  package.json
  screens/home/HomeContainer.js
  storybook/stories/Welcome/index.js
Due: eslint --fix, prettier --write --parser json

put storybook data in mockData file
  App.js
  package.json
  storybook/mockData.json
  storybook/stories/index.js
Due: eslint --fix, prettier --write --parser json

clean up
  storybook/stories/index.js
Due: eslint --fix

add newline in mockdata
  storybook/mockData.json
Due: prettier --write --parser json

remove storybooks' yarn.lock
  yarn.lock
Due: none

remove storybook_index
  storybook_index.js
Due: eslint --fix

fix npm scripts
  package.json
Due: prettier --write --parser json

fix PR changes
  App.js
  components/index.js
  package-lock.json
  package.json
  storybook/stories/CenterView/index.js
  storybook/stories/Darkview/index.js
  storybook/stories/PersonalSchedule/index.js
  storybook/stories/ScheduleItem/index.js
  storybook/stories/ScheduleNavigation/index.js
  storybook/stories/SmallView/index.js
Due: eslint --fix, prettier --write --parser json

fix imports
  storybook/stories/PersonalSchedule/index.js
  storybook/stories/ScheduleItem/index.js
  storybook/stories/ScheduleNavigation/index.js
  storybook/stories/index.js
Due: eslint --fix

#28 - add UserData and authentication to AsyncStorage + add Unstated as state management library
  App.js
  config/screenIds.js
  package-lock.json
  package.json
  screens/home/HomeContainer.js
  screens/index.js
  screens/login/LoginContainer.js
  screens/personalSchedule/PersonalScheduleContainer.js
  screens/personalSchedule/PersonalScheduleScreen.js
  screens/screenConfig.js
  state/UserContainer.js
  types/authentication.js
Due: eslint --fix, prettier --write --parser json

#28 fix flow
  .flowconfig
  App.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --parser json: any of: *.json
